@use "./palette";

@mixin bubble($backdrop-color, $size-width, $size-hight) {
	background-color: $backdrop-color;
	width: $size-width;
	height: $size-hight;
	border-radius: 25px;
}
@mixin flex-big($disp: flex, $justify-c, $align-itm, $flex-dr, $flex-wr) {
	display: $disp;
	justify-content: $justify-c;
	align-items: $align-itm;
	flex-direction: $flex-dr;
	flex-wrap: $flex-wr;
}
@mixin pad-marg($pad, $marg) {
	padding: $pad;
	margin: $marg;
}
@mixin flex-little($disp, $justify-c, $align-itm) {
	display: $disp;
	justify-content: $justify-c;
	align-items: $align-itm;
}
