body {
  background-color: black;
  color: white;
}

.nav-bar__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
  margin-top: 15vh;
}
.nav-bar__link {
  text-decoration: none;
  padding: 20px;
  border-radius: 25px;
}
.nav-bar__link:hover {
  padding: 50px;
}
.nav-bar__link--home {
  background-color: rgb(133, 96, 132);
}
.nav-bar__link--contact {
  background-color: rgb(133, 96, 132);
}
.nav-bar__link--projects {
  background-color: rgb(133, 96, 132);
}

.landing {
  width: 30%;
  height: 30%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  border-radius: 25px;
  padding: 20px;
  margin-left: 50px;
  background-color: rgb(132, 226, 150);
  margin-bottom: 50px;
}
.landing__title {
  justify-content: left;
}
.landing__para {
  justify-content: left;
}
