@use "./partials/palette";
@use "./partials/mixins";
@use "./partials/typography";

body {
	background-color: rgb(40, 36, 36);
	color: black;
}

.nav-bar {
	&__list {
		list-style: none;
		@include mixins.pad-marg(5%, 0);
		@include mixins.flex-yes(flex, space-around, center, row, wrap);
	}
	&__link {
		text-decoration: none;
		padding: 20px;
		border-radius: 25px;

		&:visited {
			color: inherit;
		}
		&:hover {
			padding: 5vw;
		}
		&--home {
			background-color: palette.$prim-purple;
		}
		&--contact {
			@extend .nav-bar__link--home;
		}
		&--projects {
			@extend .nav-bar__link--home;
		}
	}
}

.info {
	@include mixins.bubble(palette.$prim-green, 30%, 30%);

	@include mixins.flex-yes(flex, left, none, column, nowrap);
	@include mixins.pad-marg(5vw, 0px 0px 5vh 5vw);
}
.skills-section {
	@include mixins.bubble(palette.$prim-green, 80%, 80%);
	@include mixins.flex-yes(flex, space-around, center, column, nowrap);
	@include mixins.pad-marg(5vw, 5vh 0px 5vh 5vw);
}
.project-one {
	@extend .skills-section;
}

.project-two {
	@extend .skills-section;
}

.project-three {
	@extend .skills-section;
}

.contact {
	&__github-image {
		@extend .skills-section;
		&--size {
			height: typography.$icon-hight;
			width: typography.$icon-width;
		}
	}
	&__linkedin-image {
		@extend .skills-section;
		&--size {
			@extend .contact__github-image--size;
		}
	}
	&__email-image {
		@extend .skills-section;
		&--size {
			@extend .contact__github-image--size;
		}
	}
}
