body {
  background-color: black;
  color: white;
}

.nav-bar__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
  margin-top: 15vh;
}
.nav-bar__link {
  text-decoration: none;
  padding: 20px;
  border-radius: 25px;
}
.nav-bar__link:visited {
  color: inherit;
}
.nav-bar__link:hover {
  padding: 50px;
}
.nav-bar__link--home {
  background-color: rgb(133, 96, 132);
}
.nav-bar__link--contact {
  background-color: rgb(133, 96, 132);
}
.nav-bar__link--projects {
  background-color: rgb(133, 96, 132);
}

.info {
  background-color: rgb(132, 226, 150);
  width: 30%;
  height: 30%;
  border-radius: 25px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 20px;
  margin-left: 50px;
  margin-bottom: 50px;
}
.info__title {
  justify-content: left;
}
.info__para {
  justify-content: left;
}

.project-one {
  background-color: rgb(132, 226, 150);
  width: 50%;
  height: 20%;
  border-radius: 25px;
}

.project-two {
  background-color: rgb(132, 226, 150);
  width: 50%;
  height: 20%;
  border-radius: 25px;
}
