@use "./partials/palette";
@use "./partials/mixins";

body {
	background-color: black;
	color: white;
}

.nav-bar {
	&__list {
		list-style: none;
		display: flex;
		justify-content: space-around;
		margin-bottom: 5%;
		margin-top: 15vh;
	}
	&__link {
		text-decoration: none;
		padding: 20px;
		border-radius: 25px;

		&:visited {
			color: inherit;
		}
		&:hover {
			padding: 50px;
		}
		&--home {
			background-color: palette.$prim-purple;
		}
		&--contact {
			background-color: palette.$prim-purple;
		}
		&--projects {
			background-color: palette.$prim-purple;
		}
	}
}
.info {
	@include mixins.bubble(palette.$prim-green, 30%, 30%);
	//width: 30%;
	//height: 30%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	//border-radius: 25px;
	padding: 20px;
	margin-left: 50px;
	//background-color: palette.$prim-green;
	margin-bottom: 50px;
	&__title {
		justify-content: left;
	}
	&__para {
		justify-content: left;
	}
}
.project-one {
	@include mixins.bubble(palette.$prim-green, 50%, 20%);
}

.project-two {
	@include mixins.bubble(palette.$prim-green, 50%, 20%);
}
