body {
  background-color: rgb(50, 54, 65);
  color: black;
}

.nav-bar__list {
  list-style: none;
  padding: 5%;
  margin: 0%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.nav-bar__link {
  text-decoration: none;
  padding: 10px;
  border-radius: 40%;
  border: 1% solid rgb(133, 96, 132);
  box-shadow: 0 0 10px rgb(113, 48, 111);
  color: rgb(0, 166, 255);
  cursor: pointer;
  transition: 0.2s;
}
.nav-bar__link:visited {
  color: black;
}
.nav-bar__link:hover {
  transform: scale(150%);
  padding: 20px;
  box-shadow: 0 0 25px rgb(113, 48, 111);
}
.nav-bar__link--home, .nav-bar__link--projects, .nav-bar__link--contact {
  background-color: rgb(133, 96, 132);
}
.info {
  background-color: rgb(132, 226, 150);
  width: 40%;
  height: 40%;
  border-radius: 25px;
  display: flex;
  justify-content: left;
  align-items: none;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 5vw;
  margin: 0px 0px 5vh 5vw;
}

.skills-section, .contact__linkedin-image, .contact__github-image, .project-three, .project-two, .project-one {
  background-color: rgb(132, 226, 150);
  width: 80%;
  height: 80%;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 5vw;
  margin: 5vh 0px 5vh 5vw;
}

.contact__github-image--size, .contact__linkedin-image--size {
  height: 10vh;
  width: auto;
}
